<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<header th:fragment="header" class="shadow-lg rounded d-flex justify-content-center py-3 bg-dark mb-3 mt-2">
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/attractions}"
                                    th:classappend="${activeLink == 'attractions' ? 'my-active':''}"
                                    th:attrappend="aria-current=${activeLink == 'attractions' ? 'page' : 'false'}"
                                    class="nav-link nav-link-color">Attractions</a></li>
            <li class="nav-item"><a th:href="@{/attractions/add}"
                                    th:classappend="${activeLink == 'add' ? 'my-active':''}"
                                    th:attrappend="aria-current=${activeLink == 'add' ? 'page' : 'false'}"
                                    class="nav-link nav-link-color">Add Attraction</a></li>
<!--            <li class="nav-item"><a th:href="" class="nav-link">Pricing</a></li>-->
<!--            <li class="nav-item"><a th:href="" class="nav-link">FAQs</a></li>-->
<!--            <li class="nav-item"><a th:href="" class="nav-link">About</a></li>-->
        </ul>
    </nav>
</header>

</html>