body {
    background-color: #0F0F0F !important;
    color: white !important;
}

.darker {
    background-color: #1F1F1F !important;
}
.darker-1 {
    background-color: #0A0A0A !important;
}

.bold {
    font-weight: bold !important;
}

.search {
    float: left !important;
}


.my-active {
    background-color: darkslategrey !important;
    color: white !important;
}

.nav-link-color {
    color: white !important;
}

/*bootstrap form overrides*/
.input-dark {
    background-color: #1F1F1F !important;
    color: white !important;
}

.check-input-dark {
    background-color: #1F1F1F !important;
    color: limegreen !important;
}

.my-check {
    width: 200px !important;
}

.input-muted {
    color: #999999 !important;
}

.form-group > input{
    background-color: #1F1F1F;
    color: #999999;
    border: 1px solid #4D5154;
}

.form-group > input:focus {
    background-color: #1F1F1F !important;
    /*color: #999999 !important;*/
    color: white !important;
    border: 1px solid #4D5154 !important;
}

.form-group > input::placeholder {
    color: #999999 !important;
}

.form-group > input::-ms-input-placeholder {
    color: #999999 !important;
}

/* bootstrap table overrides START */
.search > input {
    background-color: #212529;
    color: #999999;
    border: 1px solid #4D5154;
}

.search > input:focus {
    background-color: #212529 !important;
    /*color: #999999 !important;*/
    color: white !important;
}

.search > input::placeholder{
  color: #999999 !important;
  opacity: 1 !important; /* Firefox */
}

.search > input::-ms-input-placeholder,
input::-ms-input-placeholder.form-control{ /* Edge 12 -18 */
  color: #999999 !important;
}

.my-border {
    border: 1px solid #4D5154 !important;
}


/* bootstrap table overrides END */



