<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${name} + ' Tags'"></title>
    <th:block th:insert="~{fragments/head :: headerFiles}"></th:block>
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="well bg-dark shadow-lg rounded">
        <h4 class="display-6 p-2" th:text="${name}"></h4>
        <table class="table table-dark">
            <tr th:each="tag : ${tags}">
                <td class="align-middle" th:text="${tag.name}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>